Repository UB-ES-2023-B3/sharing_pictures_webapp, pull requests merged in 2023-12, with the labels that each got.

#127 Implementació del Backend la Funcionalitat de Reportar Fotografies
  backend/main_app/models.py
  backend/main_app/urls.py
  backend/main_app/views.py
  db.sqlite3
Labels: Backend

#126 Frontend implementad
  db.sqlite3
  frontend/src/components/ImageCard.js
  frontend/static/frontend/main.js.LICENSE.txt
Labels: Frontend

#137 US 10.2 Backend panell de Moderació
  backend/main_app/urls.py
  backend/main_app/views.py
  db.sqlite3
  frontend/node_modules/.package-lock.json
  frontend/package-lock.json
  frontend/static/frontend/main.js
Labels: Backend

#139 138 us10.2 frontend
  backend/frontend/urls.py
  frontend/src/components/App.js
  frontend/src/components/ModerationPanel.js
  frontend/static/frontend/main.js.LICENSE.txt
Labels: Frontend

#141 Bug solventat
  frontend/src/components/NavBar.js
  frontend/src/components/SearchBar.css
  frontend/src/components/SearchBar.js
  frontend/static/frontend/main.js.LICENSE.txt
Labels: bug

#174 Frontend afegit
  frontend/src/components/ModerationPanel.js
Labels: Frontend
